<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Learning Rails" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learning Rails" %>">
    
    <!-- Following block uses application helper class ~ not as effective with HighVoltage -->
    <!--title><%= title %></title>
    <meta name="description" content="<%= description %>"-->
    <!-- ./application.helper.rb -->
    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>	
    <header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container" data-no-turbolink>
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span10 offset1">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer></footer>
          <!--footer class="footer">
          	<div class="row">
          		<div class="span10 offset1">
          			<h5>Learn Rails - by Erik Rumppe</h5>	
          		</div>
          	</div>
          </footer-->
        </div>
      </div>
    </main>
  </body>
</html>